{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.collections.parent_collection_url' %}
  {% include 'custom_fields.collections.parent_collection_url_2' %}
  {% include 'custom_fields.collections.home_collection_background' %}
</div>