{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/simcorner.myshopify.com/products/configure/147509/edit
{% endcomment %}
{% if product.metafields.custom_fields["cart_date_text"] != blank %}
  <div class="custom-field custom-field__cart-date-text custom-field__type--text">
    <h3 class="custom-field--title">Cart Date text</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["cart_date_text"] }}
    </div>
  </div>
{% endif %}