{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/simcorner.myshopify.com/products/configure/160033/edit
{% endcomment %}
{% if product.metafields.custom_fields["yotpo_product_id"] != blank %}
  <div class="custom-field custom-field__yotpo-product-id custom-field__type--text">
    <h3 class="custom-field--title">Yotpo Product ID</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["yotpo_product_id"] }}
    </div>
  </div>
{% endif %}