{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/simcorner.myshopify.com/pages/configure/151513/edit
{% endcomment %}
{% if page.metafields.custom_fields["faq_answer_13"] != blank %}
  <div class="custom-field custom-field__faq-answer-13 custom-field__type--html">
    <h3 class="custom-field--title">faq answer 13</h3>
    <div class="custom-field--value">
      {{ page.metafields.custom_fields["faq_answer_13"] }}
    </div>
  </div>
{% endif %}