{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/simcorner.myshopify.com/products/configure/151572/edit
{% endcomment %}
{% if product.metafields.custom_fields["faq_question_17"] != blank %}
  <div class="custom-field custom-field__faq-question-17 custom-field__type--html">
    <h3 class="custom-field--title">faq question 17</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["faq_question_17"] }}
    </div>
  </div>
{% endif %}