{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.product_name' %}
  {% include 'custom_fields.products.cart_date_text' %}
  {% include 'custom_fields.products.data' %}
  {% include 'custom_fields.products.calls' %}
  {% include 'custom_fields.products.sms' %}
  {% include 'custom_fields.products.plan_validity' %}
  {% include 'custom_fields.products.compatability_' %}
  {% include 'custom_fields.products.benefits' %}
  {% include 'custom_fields.products.how_it_works' %}
  {% include 'custom_fields.products.domestic_shipping_in_australia' %}
  {% include 'custom_fields.products.international_shipping' %}
  {% include 'custom_fields.products.travelling_with_friends_and_fa' %}
  {% include 'custom_fields.products.countries_coverage' %}
  {% include 'custom_fields.products.data_features' %}
  {% include 'custom_fields.products.call__text' %}
  {% include 'custom_fields.products.manual' %}
  {% include 'custom_fields.products.how_to_recharge' %}
  {% include 'custom_fields.products.sim_card_size' %}
  {% include 'custom_fields.products.how_to_activate_this_sim_card' %}
  {% include 'custom_fields.products.faq_question_1' %}
  {% include 'custom_fields.products.faq_answer_1' %}
  {% include 'custom_fields.products.faq_question_2' %}
  {% include 'custom_fields.products.faq_answer_2' %}
  {% include 'custom_fields.products.faq_question_3' %}
  {% include 'custom_fields.products.faq_answer_3' %}
  {% include 'custom_fields.products.faq_question_4' %}
  {% include 'custom_fields.products.faq_answer_4' %}
  {% include 'custom_fields.products.faq_question_5' %}
  {% include 'custom_fields.products.faq_answer_5' %}
  {% include 'custom_fields.products.faq_question_6' %}
  {% include 'custom_fields.products.faq_answer_6' %}
  {% include 'custom_fields.products.faq_question_7' %}
  {% include 'custom_fields.products.faq_answer_7' %}
  {% include 'custom_fields.products.faq_question_8' %}
  {% include 'custom_fields.products.faq_answer_8' %}
  {% include 'custom_fields.products.faq_question_9' %}
  {% include 'custom_fields.products.faq_answer_9' %}
  {% include 'custom_fields.products.faq_question_10' %}
  {% include 'custom_fields.products.faq_answer_10' %}
  {% include 'custom_fields.products.faq_question_11' %}
  {% include 'custom_fields.products.faq_answer_11' %}
  {% include 'custom_fields.products.faq_question_12' %}
  {% include 'custom_fields.products.faq_answer_12' %}
  {% include 'custom_fields.products.faq_question_13' %}
  {% include 'custom_fields.products.faq_answer_13' %}
  {% include 'custom_fields.products.faq_question_14' %}
  {% include 'custom_fields.products.faq_answer_14' %}
  {% include 'custom_fields.products.faq_question_15' %}
  {% include 'custom_fields.products.faq_answer_15' %}
  {% include 'custom_fields.products.faq_question_16' %}
  {% include 'custom_fields.products.faq_answer_16' %}
  {% include 'custom_fields.products.faq_question_17' %}
  {% include 'custom_fields.products.faq_answer_17' %}
  {% include 'custom_fields.products.faq_question_18' %}
  {% include 'custom_fields.products.faq_answer_18' %}
  {% include 'custom_fields.products.faq_question_19' %}
  {% include 'custom_fields.products.faq_answer_19' %}
  {% include 'custom_fields.products.faq_question_20' %}
  {% include 'custom_fields.products.faq_answer_20' %}
  {% include 'custom_fields.products.faq_question_21' %}
  {% include 'custom_fields.products.faq_answer_21' %}
  {% include 'custom_fields.products.faq_question_22' %}
  {% include 'custom_fields.products.faq_answer_22' %}
  {% include 'custom_fields.products.faq_question_23' %}
  {% include 'custom_fields.products.faq_answer_23' %}
  {% include 'custom_fields.products.faq_question_24' %}
  {% include 'custom_fields.products.faq_answer_24' %}
  {% include 'custom_fields.products.faq_question_25' %}
  {% include 'custom_fields.products.faq_answer_25' %}
  {% include 'custom_fields.products.faq_question_26' %}
  {% include 'custom_fields.products.faq_answer_26' %}
  {% include 'custom_fields.products.faq_question_27' %}
  {% include 'custom_fields.products.faq_answer_27' %}
  {% include 'custom_fields.products.faq_question_28' %}
  {% include 'custom_fields.products.faq_answer_28' %}
  {% include 'custom_fields.products.faq_question_29' %}
  {% include 'custom_fields.products.faq_answer_29' %}
  {% include 'custom_fields.products.faq_question_30' %}
  {% include 'custom_fields.products.faq_answer_30' %}
  {% include 'custom_fields.products.yotpo_product_id' %}
  {% include 'custom_fields.products.domestic_shipping_in_canada' %}
  {% include 'custom_fields.products.domestic_shipping_in_new_zeala' %}
  {% include 'custom_fields.products.domestic_shipping_in_europe' %}
  {% include 'custom_fields.products.domestic_shipping_in_uk' %}
  {% include 'custom_fields.products.domestic_shipping_in_usa' %}
</div>