<link rel="stylesheet" href="{{ 'form-style.css' | asset_url  }}">
 <script src="{{ 'jquery_countdown.js' | asset_url }}"></script>
<header class="define_float text-center form_header">
	<div class="header_left">
<section id="shailan-countdown-widget-2" class="widget shailan_CountdownWidget">					<h2 class="widget-title">Competition Ends <br /> 11:59 PM <br /> 31 July 2022</h2>
<div id="shailan-countdown-2_1" class="shailan-countdown-2 countdown" ></div>
</section><img class="close_header" src="https://cdn.shopify.com/s/files/1/0179/4388/7926/files/white_cross.svg?v=1634552382"/>
	</div>
</header>
<section class="define_float banner_outer">
	<div class="banner_heading define_float text-center">
		<div class="banner_heading_inner define_float">
			<h4>Travelling Soon? YAY! Have a little treat on us</h4>
			<h2>WIN</h2>
			<h5>A <b>$1,000</b> Visa Gift Card</h5>
			<h6>+ 2x SIMCorner Travel Sim Cards</h6>
			<div class="define_float button_main text-center">
				<a class="to_form" href="javascript:void(0);">Enter Now</a>
			</div>
		</div>
		<!--div class="define_float logos_outer text-center">
			<a href="javascript:void(0);"><img src="https://cdn.shopify.com/s/files/1/0179/4388/7926/files/AirbnbLogo.svg?v=1634551198"/></a>
			<a href="/"><img src="https://cdn.shopify.com/s/files/1/0179/4388/7926/files/SimCornerLogo_18345f02-32b0-4f62-802d-23e3d7bbf3a5.svg?v=1634551184"/></a>
		</div-->
	</div>
</section>
<!--section class="new_banner_otr define_float">
	<div class="container">
		<div class="row">
			<div class="new_banner_content_main define_float">
				<div class="new_banner_content_inr">
					<h2>THANK YOU TO ALL WHO ENTERED!</h2>
					<span>We’ve been so overwhelmed by your responses (and to be honest, a little jealous of all your travel plans!). The lucky winner of $1000 AirBnB Voucher + 2 Travel SIMCorner cards is:</span>
					<div class="custom_bg_head">
						<p>L. Ingham</p>
					</div>
					<h4>CONGRATULATIONS!</h4>
					<p>How will the Airbnb voucher be delivered?</p>
					<p>Winner will be notified by email within 10 business days after the draw and prizes will be delivered as digital links to the winner’s email address. </p>
					<p>For those who missed out - don’t fret! We’re ALL about making your travels better, so keep following us for upcoming competitions, giveaways AND MORE!</p>
					<p>Stay a part of the SIMCorner family - <a href="javascript:void(0);">#StayConnected</a></p>
					<div class="social_main_otr">
						<a href="https://www.instagram.com/simcornertravel" target="_blank" ><img alt="instagram" src="https://cdn.shopify.com/s/files/1/0179/4388/7926/files/insta_com.svg?v=1634549536"/> @simcornertravel</a>
						<a href="https://www.facebook.com/SimCorner" target="_blank" ><img alt="facebook" src="https://cdn.shopify.com/s/files/1/0179/4388/7926/files/facebook_com.svg?v=1634549536"/> fb.com/simcorner</a>
					</div>
					<p>Where can you travel with a SIMCorner card? <br> Check out the number of countries we cover! </p>
					<div class="shop_now_button">
						<a href="https://www.simcorner.com" target="_blank">Shop Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section-->
<div class="klform klaviyo-form-QUjwJ8"></div>
<section class="define_float form_outer">
	<div class="form_content define_float text-center">
		<h3>Competition Over</h3>
		<p>Follow us <a href="https://www.instagram.com/simcornertravel/">@simcornertravel</a> for Updates on new competition announcements</p>
	</div>
	<!--div class="contact_form_otr define_float">
	    <?php echo do_shortcode('[contact-form-7 id="5" title="Sim Form"]'); ?>
	</div-->
</section>

<section class="define_float about_outer text-center">
	<div class="define_float heading_main text-center">
		<h2>Who We Are</h2>
	</div>
	<p>SIMCorner has helped countless travelers leave their data roaming woes behind so they can roam in peace.</p>
	<div class="define_float about_listing_first">
		<ul>
			<li><img src="https://cdn.shopify.com/s/files/1/0179/4388/7926/files/tick.svg?v=1634551437"/> <span>We partner with local mobile providers around the globe.</span> </li>
			<li><img src="https://cdn.shopify.com/s/files/1/0179/4388/7926/files/tick.svg?v=1634551437"/> <span>Prepaid SIM cards that give you the best rates EVER - no matter where you are in the world.</span> </li>
		</ul>
	</div>
	<div class="define_float about_listing_second">
		<ul>
			<li>No stressful roaming fees</li>
			<li>Great rates and connectivity</li>
			<li>FREE + FAST delivery to your door before you fly!</li>
		</ul>
	</div>
	<div class="button_shop define_float">
		<a target="_blank" href="https://www.simcorner.com/">Shop Now</a>
	</div>
</section>
<script>
  $(document).ready(function(){
  $(".close_header").click(function(){
      $(".form_header").slideUp("slow");
  });
    
    $(".to_form").click(function() {
    $('html,body').animate({
        scrollTop: $(".klform").offset().top},
        'slow');
});
});
  (function($){$(document).ready(function($) 
    { var event_month = 1 - 1; desc = '';
     eventDate = new Date(2022, 6, 31, 00, 00, 00, 0);
     //alert(eventDate);
     $('#shailan-countdown-2_1').countdown({ until: eventDate, description: desc, format: 'dHMS', timezone: 0 }); }); })
  (jQuery);
  

   </script>
