<!-- /templates/page.liquid -->
<div class="grid pricebeat_page">
  <div class="grid__item large--five-sixths push--large--one-twelfth">

    <header class="section-header text-center">
      <h1>{{ page.title }}</h1>
      <hr class="hr--small">
    </header>

    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
         <div class="blue_about_main">
<p>"At SimCorner, we are proud to bring the most competitive local travel sim cards <br />on offer for our customer at all times. <br />We take the hassle out of purchasing a international SIM cards"</p>
</div>
<div class="pricebeat_main">
<h2>Criteria</h2>
<p><span class="left-content">If you find the SAME sim card product with a competitor (even if it's on sale), we'll beat that price by 5%. The competitor and SimCorner must have the sim card in stock and available for purchase for this to apply.</span> <span class="right-content-image"> <img alt="discount" src="https://cdn.shopify.com/s/files/1/0179/4388/7926/files/Pricebeat.png?v=1675335888"/> </span></p>
<h2>Believe you have found the same product cheaper elsewhere?</h2>
<p><span class="center-content">Please e-mail the competitors direct product website link to <a title="Support" href="mailto:support@simcorner.com" target="_blank" rel="noopener noreferrer">support@simcorner.com</a> or the Contact Us Page. Upon evaluation of the competitor’s product link by a SimCorner customer service member, we can then determine if the criteria is met. If the criteria is met as per above, we will notify you and you are able to purchase as per normal.If you can then let our customer service member know, we will refund the difference. If not, you will receive a reply as to why it was declined. </span></p>
</div>
        </div>
      </div>
    </div>

  </div>
</div>
