<!-- /templates/page.liquid -->
<div class="grid naffiliates">
  <div class="grid__item large--five-sixths push--large--one-twelfth">

    

    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
          <div class="banner_affi">
<div class="banner_affi_content">
<h1 class="pre-head" style="color:white">Become a SimCorner Affiliate</h1>
<h2>If you love our service, why not share it to the world <br>and get PAID!</h2>
</div>
</div>
<div class="affi_bottom_main">
<div class="affi_main_new">
<div class="affi_main_h3">
<h3>Promote our travel products on your website, blog, email or social media and get paid while adding value to your clients!</h3>
</div>
<div class="affi_content_boxed">
<div class="affi_con_left">
<h3>What we offer:</h3>
<ul>
<li>You get 5% Commission For Every Successful Sale!</li>
  <li>Plus a 5% unique discount code for your clients!</li>
<li>Payout available after you reach earnings of $100</li>
</ul>
<h3>How It Works:</h3>
<ul>
<li>Sign up to SimCorner's affiliate program which is free to join. Once approved, you will have the ability to promote our travel products and accessories.</li>
<li>Once you sign in, you will have access to marketing materials that include banners and/or text links that you can use on your platform such as websites, blogs or social media pages.</li>
<li>When users click on one of the links you have placed on your platform, they will be directed to our online store where they can view our products and make a purchase.</li>
<li>Each time such users complete a purchase, you earn commission and your client recevies a 5% discount. Win win!</li>
</ul>
<h3>Suitable for:</h3>
<ul>
<li>Anybody operating Directly or Indirectly within the Travel and Tourism Industry including Social influencers and bloggers. </li>
</ul>
</div>
<div class="affi_con_right">
<div class="widget-aux-link-section affilitates-login-form">
<h3>New Affiliate</h3>
<p><a href="https://app.growthhero.io/#/c/simcorner/registration/5-commision-discount" target="_blank" class="action primary">Join Now</a></p>
</div>
  <div class="widget-aux-link-section affilitates-login-form">
<h3>Existing Affiliate</h3>
<p><a href="https://app.growthhero.io/#/c/simcorner/login" target="_blank" class="action primary">Login</a></p>
</div>
</div>
</div>
</div>
</div>
        </div>
      </div>
    </div>

  </div>
</div>
