<!-- /templates/page.liquid -->
<div class="grid">
  <div class="grid__item large--five-sixths push--large--one-twelfth">

    <header class="section-header text-center">
      <h1>{{ page.title }}</h1>
      <hr class="hr--small">
    </header>

    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
          {%- comment -%} Start of HTML SiteMap code {%- endcomment -%}
<div class="row">
    <div class="col-md-6">
        <h2>Collections</h2>
        <ul>
            {% for c in collections %}
                <li>
                    <a href="{{ c.url }}">{{ c.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

</div>
{%- comment -%}
    End of HTML SiteMap code
{%- endcomment -%}
        </div>
      </div>
    </div>

  </div>
</div>
